@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


h1{
    font-style: oblique;
    font-family: cursive;
}
#p1{
    font-size: 50px;
    font-family: 'Ephesis', cursive;
}
#p2{
    font-size: 30px;
    font-family: 'Smooch', cursive;
}
#p3{
    font-size: 30px;
    font
}